* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
    background-color: #F3F1E9;
    position: relative;
}
html > body {
    min-height: 100%;
    height: auto;
}
h2{
    color: #54503f
}
#header {
    height: 160px;
    background-image: url(../images/header_bg.jpg);
    background-position: top left;
    background-repeat: repeat-x;
    margin-bottom: 40px;
    border-bottom: 3px solid #d3cebb;
}
#header_adm {
    height: 60px;
    background-image: url(../images/header_bg.jpg);
    background-position: top left;
    background-size: 1px 100px;
    background-repeat: repeat-x;
    margin-bottom: 40px;
    border-bottom: 3px solid #d3cebb;
}
#header_inside {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}
#header_inside_adm {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#headertitle {
    width: auto;
    float: left;
    padding-top: 60px;
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #0b3e01
}
#headertitle_adm {
    width: 50%;
    float: left;
    padding-top: 14px;
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #0b3e01
}
#content {
    width: auto;
    display: block;
    height: auto;
    min-height: 370px;
    overflow: auto;
    margin-top: 80px;
    margin-left: 225px
}

#content .show_img img{
    width: auto;
    max-height: 200px;
}
#redapple {
    float: left;
    background-image: url(../images/applelogo.svg);
    background-size:160px auto;
    height:160px;
    width:160px;
}
#redapple_adm {
    float: left;
    background-image: url(../images/applelogo.svg);
    background-size:60px auto;
    height:60px;
    width:60px;
    margin-left: 10px
}

#topmenu {
    float: right;
    padding-top: 139px;
}
#topmenu li.tpm {
    list-style: none;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 1px solid #d3cebb;
}
#topmenu li.cart_header {
    list-style: none;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}
#topmenu li.tpm img, #topmenu li.cart_header img, #topmenu_logout img, #topmenu_logout_adm img {
    width: auto;
    height: 17px;
    margin-left: 4px;
}
#topmenu a, #topmenu_logout a, #topmenu_logout_adm a{
    color: #0b3e01;
    text-decoration:none;
    text-transform: capitalize
}
#topmenu a:hover, #topmenu_logout a:hover, #topmenu_logout_adm a:hover{
    color: black;
    text-decoration:none
}
#topmenu_logout {
    float: right;
    padding-top: 130px;
}
#topmenu_logout_adm {
    float: right;
    margin-top: 38px;
    margin-right: 25px
}
/* 
#topmenu_logout a{
    color: #b70404;
    text-decoration:none
}
#topmenu_logout a:hover{
    color: #b70404;
    text-decoration:underline
} 
*/
#menu {
    position: absolute;
    top: 160px;
    left: 26px;
}
#menu_adm {
    position: absolute;
    top: 60px;
    left: 222px;
}

#menu li, #menu_adm li {
    display: inline;
}
#menu a {
    margin: 0px 1px 0 0;
    width: 110px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 0 18px 0;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #b70404;
    background-position: top left;
    background-repeat: no-repeat;
}
#menu_adm a {
    margin: 0px 1px 0 0;
    width: 110px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 0 6px 0;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #b70404;
    background-position: top left;
    background-repeat: no-repeat;
}
#menu .but1_active {
    background-color: #d40303;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 8px #726F62;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
}
#menu_adm .but1_active {
    background-color: #d40303;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 8px #726F62;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
}
#menu .but2_active,#menu .but3_active, #menu .but4_active  {
    background-color: #d40303;
    text-decoration: none;
    color: white;
    box-shadow:0px 2px 2px black;
}
#menu_adm .but2_active, #menu_adm .but3_active, #menu_adm .but4_active  {
    background-color: #d40303;
    text-decoration: none;
    color: white;
    box-shadow:0px 2px 2px black;
}

#menu .but1:hover, #menu_adm .but1:hover {
    background-color: #ce6e6e;
    text-decoration: none;
    color: white;
    height:13px
}
#menu .but2:hover, #menu .but3:hover, #menu .but4:hover {
    background-color: #ce6e6e;
    text-decoration: none;
    color: white;
    height:13px
}

#menu_adm .but2:hover, #menu_adm .but3:hover, #menu_adm .but4:hover {
    background-color: #ce6e6e;
    text-decoration: none;
    color: white;
    height:13px
}

#sidebar {
    width: 175px;
    float: left;
    padding: 0px 25px 0px 25px;
}
#list {
    list-style-type: none;
    margin: 11px 0 0 0;
    line-height: 18px;
    display: block;
}
#list a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #464646;
    text-decoration: none
}
#list a:visited {
    text-decoration: none
}
#list a:hover {
    text-decoration: underline
}
#list li {
    width: 165px;
    padding: 0 0 0 10px;
}
.color {
    background-color: #e1dcc8
}
.text{
    color: #54503f;
    margin-left: 270px
}
#footer {
    width: 100%;
    height: 142px;
    background-image: url(../images/footer_bg.gif);
    background-position: top left;
    background-repeat: repeat-x;
    position: absolute;
    margin-top: 21px

}
#footer_inside {
    width: 100%;
    height: 142px;
    margin: 0 auto;
    background-position: top right;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.footer_menu {
    list-style-type: none;
    padding: 25px 0 0 42px;
}
.footer_menu li {
    display: inline;
    line-height: 17px;
    float: left;
}
.footer_menu img{
    margin-top: 3px
}
.footer_menu li a {
    color: #0D0D0D;
    text-decoration: none;
    margin: 0 6px;
}
.footer_menu li a:visited {
    text-decoration: none
}
.footer_menu li a:hover {
    text-decoration: underline
}
#footer_inside p {
    padding: 10px 0 0 48px;
}
#footer_inside p a {
    color: #E9410E;
    text-decoration: underline
}
#footer_inside p a:visited {
    text-decoration: underline
}
#footer_inside p a:hover {
    text-decoration: none
}
#formcustomers, #formproduct, #formcategories, #formadministrators, #formsuppliers {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}
.login {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -75px;
    margin-top: 70px;
}
.prod {
    border-bottom: solid 1px;
    border-top: solid 1px; ;
    width: 80%;
    float: left;
}

.panleft1 {
    float: left;
    width: 20%;
}

.panleft2 {
    float: left;
    width: 60%;
}
.totwidth {
    width: 100%;
    margin-bottom: 10px;
    height: 1px;
    float: left;
    padding-bottom: 20px;
}
.error {
    color: red;
    font-size: 14px;
}
input[type=submit] {
    width: 75px;
    height: 30px;
}
#accordion {
    width: 175px;
    float: left;
    position: absolute;
    margin: 40px 25px 25px 25px;
    border: 1px solid #d3cebb;
}
.menu-right {
    float: right;
    width: 270px;
    height: 400px;
    margin: 40px 25px 25px 25px;
}
.tablelist {
    border-collapse:collapse;
    margin-right: 25px

}
td {
    font-size:1em;	
    border-top:1px solid #ADA895;
    border-left:1px solid #ADA895;
    border-right:1px solid #ADA895;
    border-bottom:1px solid #ADA895;
    padding:3px 2px 2px 2px;
    color: black;
    background: #E5E2D3;
    text-decoration: none;
    word-wrap:break-word;
    text-align: left;
}
td a{
    font-size:1em;
    padding:3px 5px 3px 6px;
    color: black;
    text-decoration: none;
    text-align: left;
}
th {
    border-right:1px solid #E5E2D3;
    font-size:1em;
    padding:3px 5px 2px 5px;
    color: #54503F;
    text-align: center;
    word-wrap:break-word;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase
        /*  letter-spacing: -1px; */
}
.td_qty {
	min-width: 110px
}
.delete, .delete_admin, .add_img {
    color: transparent;
    border: 0px solid black;
    background: transparent;
    text-align: center;
    border: 0px solid black;
    border-top: 1px solid #ADA895;
    border-bottom: 1px solid #ADA895;
}

.edit, .edit_admin, .view_img, .cart, .remove_cart {
    color: transparent;
    border: 0px solid black;
    border-top: 1px solid #ADA895;
    border-bottom: 1px solid #ADA895;
    border-right: 1px solid #ADA895;
    background: transparent;
    text-align: center;
}

.delete a, .delete_admin a, .edit a, .edit_admin a, .view_img a, .add_img a, .cart a, .remove_cart a{
    color: black;
    background: transparent;
    text-align: center;
}
.delete img, .edit img, .delete_admin img, .edit_admin img, .view_img img, .add_img img, .cart img, .remove_cart img{
    width: auto;
    height: 14px;
    padding-right:5px

}

.total {
    margin-top: 25px;
    background-color: #d3cebb;
    padding: 10px 10px 5px 10px;
    border: 1px solid #8B887B;
    border-radius: 3px 0px 0px 3px;   
    -moz-border-radius: 3px 0px 0px 3px;   
    -webkit-border-radius: 3px 0px 0px 3px;   
    float: left;
    list-style: none
}
.total:active{
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.total a {
    color: #000;
    text-decoration: none;
    font-weight: bold
}

/* 
.confirm {
    margin-top: 25px;
    background-color: #ACCCA8;
    padding: 10px 10px 5px 10px;
    border: 1px solid #8B887B; 
    border-radius: 3px 0px 0px 3px;   
    -moz-border-radius: 3px 0px 0px 3px;   
    -webkit-border-radius: 3px 0px 0px 3px;
    float: left;
    list-style: none
}
.confirm:active{
    background-color: #91B68C;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.confirm a{
    color: #0A5506;
    text-decoration: none;
    font-weight: bold

}
 */
.checkout {
    margin-top: 25px;
    background-color: #ACCCA8;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
    border-bottom: 1px solid #8B887B;   
    float: left;
    list-style: none
}
.checkout:active{
    background-color: #91B68C;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.checkout a {
    color: #0A5506;
    text-decoration: none;
    font-weight: bold
}
.empty_cart{
    margin-top: 25px;
    background-color: #DDA9A9;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
    border-bottom: 1px solid #8B887B;
    border-radius: 0px 3px 3px 0px;   
    -moz-border-radius: 0px 3px 3px 0px;   
    -webkit-border-radius: 0px 3px 3px 0px; 
    float: left;
    list-style: none
}
.empty_cart:active{
    background-color: #CC9B9B;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.empty_cart a{
    color: #770202;
    text-decoration: none;
    font-weight: bold

}
.add_cart {
    margin: 25px;
    background-color: #d3cebb;
    padding: 10px;
    border: 1px solid #8B887B;
    border-radius: 3px;   
    -moz-border-radius: 3px;   
    -webkit-border-radius: 3px;
}
.add_cart:active{
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.add_cart a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.total img, .empty_cart img, .add_cart img, .checkout img, .confirm img{
    width: auto;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: -6px
}
.back {
   display: block;
   clear: left;
   margin: 85px 0px 0px 0px;
   width: 45px;
}
.back img {
    height: auto;
    width: 18px;
    padding: 2px
}
#pager{
    margin-top: 10px
}
#pager a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px
}
#pager .pg_first, .pg_prev, .pg_nr, .pg_next, .pg_last {
    padding-right: 6px;
    float: left
}
#pager .pg_first img, .pg_prev img, .pg_next img, .pg_last img{
    width: auto;
    height: 17px
}


.question {
    margin-bottom: 15px;
    color: #aaa;
    padding: 3px

}
#qty_add {
    width: 25px;
    text-align: center
}
.contact p {
    margin-top: 20px;
    text-decoration: none;
    font-size: 16px
}
#map-canvas{
    margin-top: 50px;
    height: 500px;
    color: black;
}
.privacy {
	overflow: scroll;
	width: 400px;
	height: 75px;
     font-size: 10px;
     margin: 10px 0px 10px 0px;;
     padding: 3px;
     border: 1px solid #aaa;
     background: #fff;
	box-shadow: inset 1px 1px 5px #ccc;
	-moz-box-shadow: inset 1px 1px 5px #ccc;
	-webkit-box-shadow: inset 1px 1px 5px #ccc;
}
.admin_show {
    height: 350px;
    width: auto;
    margin-bottom: 20px
}
.sum_product{
    float:right;
    height: auto;
    width: 250px;
    background: #fff;
    border: 1px solid #ADA895;
    border-right: 0px solid #ADA895;
    border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
    margin-top: 50px;
    box-shadow: 1px 2px 8px #726F62;
	-moz-box-shadow: 1px 2px 8px #726F62;
	-webkit-box-shadow: 1px 2px 8px #726F62;
}
.sum_product .main_li{
    margin-left: 10px;
    margin-bottom: 6px;
    list-style: none;
    font-size:16px
}
.sum_product .under_li{
    margin-left: 30px;
    margin-bottom: 2px;
    list-style: disc;
    font-size:14px
}
.show_adm {
    font-size: 26px;
    color: #54503F
}
.show_product h1{
    font-size: 26px;
    color: #54503F
}
.show_product h2{
    font-size: 15px;
    color: black;
    width: 50%;
    float:left;
    font-weight: 100
}
.show_product h3{
    font-size: 30px;
    color: #D40303;
    font-weight: 600
}
.show_product h4{
    font-size: 14px;
    color: #aaa;
    font-weight: 100;
    font-family: Courier;
    margin: 3px;
    margin-bottom: 10px;
    text-align: center
}
.show_product h5 {
    font-size: 20px;
    color: black;
    font-weight: 100;
    margin: 6px 14px 6px 14px;
    float: left;
    text-decoration:line-through
}
.show_product h6{
    font-size: 15px;
    color: #000;
    font-weight: 100;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px
}
.show_product h7{
    font-size: 14px;
    color: #54503F;
    font-weight: 100;
    margin-left: 20px;
}
.show_product .new{
    width: 40px;
    height: auto;
    float: right
}
.show_product .add_cart img{
    width: auto;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: -6px
}
.show_img, .show_prod {
    margin: 20px
}
.show_img img {
    margin:0px;
    border-radius: 3px;   
    -moz-border-radius: 3px;   
    -webkit-border-radius: 3px;
    box-shadow: 2px 3px 8px #726F62
}
.invio {
	margin-top: 15px;
    background-color: #d3cebb;
    border: 1px solid #8B887B;
    border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px
}
.invio:active {
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.sign-in {
	margin-top: 15px;
    background-color: #d3cebb;
    border: 1px solid #8B887B;
    border-radius: 5px 0px 0px 5px;   
    -moz-border-radius: 5px 0px 0px 5px;   
    -webkit-border-radius: 5px 0px 0px 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    float: left
}
.sign-in:active {
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.sign-up {
	margin-top: 15px;
    background-color: #d3cebb;
    border-bottom: 1px solid #8B887B;
    border-top: 1px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
    border-radius: 0px 5px 5px 0px;   
    -moz-border-radius: 0px 5px 5px 0px;   
    -webkit-border-radius: 0px 5px 5px 0px;
    color: black;
    font-weight: 100;
    font-size: 13px;
    float: left
}
.sign-up:active {
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.sign {
	margin-top: 10px;	
	margin-bottom: 10px;
     display: block;
     width: 145px;
     font-size: 14px

}
.sign_text {
    margin-top: 10px;	
	margin-bottom: 10px;
     display: block;
     width: 145px;
     font-size: 13px

    
}