* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    height: 100%;
/*  background-image: url(../images/backbody.jpg); */
    position: relative;
}
html > body {
    min-height: 100%;
    height: auto;
}
h2{
    color: #54503f
}
#header {
    height: 160px;
    background: #FD8F02;
    margin-bottom: 40px;
    border-bottom: 3px solid #830000;
}
#header_adm {
    height: 60px;
    background: #E00000;
    margin-bottom: 40px;
    border-bottom: 3px solid #fff;
}
#header_inside {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}
#header_inside_adm {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#headertitle {
    width: auto;
    float: left;
    padding-top: 60px;
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #303030
}
#headertitle_adm {
    width: 50%;
    float: left;
    padding-top: 14px;
    padding-left: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #303030
}
#content {
    width: auto;
    display: block;
    height: auto;
    min-height: 370px;
    overflow: auto;
    margin-top: 80px;
    margin-left: 225px
}

#content .show_img img{
    width: auto;
    max-height: 200px;
}
#redapple {
    float: left;
    background-image: url(../images/applelogo.svg);
    background-size:160px auto;
    height:160px;
    width:160px;
}
#redapple_adm {
    float: left;
    background-image: url(../images/applelogo.svg);
    background-size:60px auto;
    height:60px;
    width:60px;
    margin-left: 10px
}

#topmenu {
    float: right;
    padding-top: 139px;
    margin-right: 20px

}
#topmenu li.tpm {
    list-style: none;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 1px solid #830000;
}
#topmenu li.cart_header {
    list-style: none;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}
#topmenu li.tpm img, #topmenu li.cart_header img, #topmenu_logout img, #topmenu_logout_adm img {
    width: auto;
    height: 17px;
    margin-left: 4px;
}
#topmenu a, #topmenu_logout a, #topmenu_logout_adm a{
    color: #303030;
    text-decoration:none;
    text-transform: capitalize
}
#topmenu a:hover, #topmenu_logout a:hover, #topmenu_logout_adm a:hover{
    color: black;
    text-decoration:none
}
#topmenu_logout {
    float: right;
    padding-top: 139px;
}
#topmenu_logout_adm {
    float: right;
    margin-top: 38px;
    margin-right: 25px
}
/* 
#topmenu_logout a{
    color: #b70404;
    text-decoration:none
}
#topmenu_logout a:hover{
    color: #b70404;
    text-decoration:underline
} 
*/
#menu {
    position: absolute;
    top: 160px;
    background: #0FB9B3;
    width: 100%
}
#menu_adm {
    position: absolute;
    top: 60px;
    left: 222px;
    
}

#menu li, #menu_adm li {
    display: inline;
}
#menu a {
    margin: 0px 0px 0 0;
    width: 110px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 0 15px 0;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-right: 1px solid #C40000;
}
#menu_adm a {
    margin: 0px 1px 0 0;
    width: 110px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 0 6px 0;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #b70404;
    background-position: top left;
    background-repeat: no-repeat;
}
#menu .but1_active {
    color: white;
    border-left: 1px solid #C40000;
    border-right: 1px solid #C40000;
    margin-left: 200px

}
#menu_adm .but1_active {
    background-color: #E00000;
    text-decoration: none;
    color: white;
}
#menu .but2_active,#menu .but3_active, #menu .but4_active  {
    background-color: #C40000;
    text-decoration: none;
    color: white;
}
#menu_adm .but2_active, #menu_adm .but3_active, #menu_adm .but4_active  {
    background-color: #C40000;
    text-decoration: none;
    color: white;;
}

#menu .but1_active:hover, #menu_adm .but1_active:hover, #menu .but1:hover, #menu_adm .but1:hover {
    background-color: #C40000;
    text-decoration: none;
    color: white;
}
#menu .but2:hover, #menu .but3:hover, #menu .but4:hover {
    background-color: #C40000;
    text-decoration: none;
    color: white;
}

#menu_adm .but2:hover, #menu_adm .but3:hover, #menu_adm .but4:hover {
    background-color: #C40000;
    text-decoration: none;
    color: white;
}

#sidebar {
    width: 175px;
    float: left;
    padding: 0px 25px 0px 25px;
}
#list {
    list-style-type: none;
    margin: 11px 0 0 0;
    line-height: 18px;
    display: block;
}
#list a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #464646;
    text-decoration: none
}
#list a:visited {
    text-decoration: none
}

#list li {
    width: 165px;
    padding: 0 0 0 10px;
}
.colour{
    background-color: #E00000;
    text-decoration: none;
    cursor:s-resize
}
#list .colour a{
    color: white
}
.colour img{
    height: 12px;
    width: auto;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: -6px;
    float: left
}
.un_colour {
    background-color: #fff;
    list-style: disc;
    list-style-position:inside;
    color: #000
}

/* 
.un_colour:hover {
    background-color: #EEE9D7;
}
 */
.text{
    color: #54503f;
    margin-left: 270px
}
#footer {
    width: 100%;
    height: 142px;
    background: #e00000;
/*  background-image: url(../images/footer_bg.gif);
    background-position: top left;
    background-repeat: repeat-x; */
    position: absolute;
    margin-top: 21px

}
#footer_inside {
    width: 100%;
    height: 142px;
    margin: 0 auto;
    background-position: top right;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.footer_menu {
    list-style-type: none;
    padding: 25px 0 0 42px;
}
.footer_menu li {
    display: inline;
    line-height: 17px;
    float: left;
}
.footer_menu img{
    margin-top: 3px
}
.footer_menu li a {
    color: #fff;
    text-decoration: none;
    margin: 0 6px;
}
.footer_menu li a:visited {
    text-decoration: none
}
.footer_menu li a:hover {
    text-decoration: underline
}
#footer_inside p {
    padding: 10px 0 0 48px;
    color: #fff
}
#footer_inside p a {
    color: #ddd;
    text-decoration: underline
}
#footer_inside p a:visited {
    text-decoration: underline
}
#footer_inside p a:hover {
    text-decoration: none
}
#formcustomers, #formproduct, #formcategories, #formadministrators, #formsuppliers, #formcompany, #formuser  {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}
.login {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -75px;
    margin-top: 70px;
}
.prod {
    border-bottom: solid 1px;
    border-top: solid 1px; ;
    width: 80%;
    float: left;
}

.panleft1 {
    float: left;
    width: 20%;
}

.panleft2 {
    float: left;
    width: 60%;
}
.totwidth {
    width: 100%;
    margin-bottom: 10px;
    height: 1px;
    float: left;
    padding-bottom: 20px;
}
.error {
    color: red;
    font-size: 14px;
}
input[type=submit], input[type=button] {
    width: 75px;
    height: 30px;
}
#accordion {
    width: 200px;
    height: 95%;
    float: left;
    position: absolute;
    background: #E00000;
    margin-top: 1px;
}
#demo2{
      margin: 40px 5px 25px 5px;
}
.menu-right {
    float: right;
    width: 270px;
    height: 750px;
/*  background-image: url(../images/backbody.jpg); */
}
#sliderContainer2{
    margin: 40px 7px 0px 7px;
}
#sliderContainer {
    margin: 0px 45px 0px 5px;
}
.tablelist {
    border-collapse:collapse;
    margin-right: 25px

}
td {
    font-size:1em;	
    border-top:1px solid #ADA895;
    border-left:1px solid #ADA895;
    border-right:1px solid #ADA895;
    border-bottom:1px solid #ADA895;
    padding:3px 2px 2px 2px;
    color: black;
    background: #E5E2D3;
    text-decoration: none;
    word-wrap:break-word;
    text-align: left;
}
td a{
    font-size:1em;
    padding:3px 5px 3px 6px;
    color: black;
    text-decoration: none;
    text-align: left;
}
th {
    border-right:1px solid #E5E2D3;
    font-size:1em;
    padding:3px 5px 2px 5px;
    color: #54503F;
    text-align: center;
    word-wrap:break-word;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.td_qty {
    min-width: 110px
}
.delete, .delete_admin, .add_img {
    color: transparent;
    border: 0px solid black;
    background: transparent;
    text-align: center;
    border: 0px solid black;
    border-top: 1px solid #ADA895;
    border-bottom: 1px solid #ADA895;
}

.edit, .edit_admin, .view_img, .cart, .remove_cart {
    color: transparent;
    border: 0px solid black;
    border-top: 1px solid #ADA895;
    border-bottom: 1px solid #ADA895;
    border-right: 1px solid #ADA895;
    background: transparent;
    text-align: center;
}

.delete a, .delete_admin a, .edit a, .edit_admin a, .view_img a, .add_img a, .cart a, .remove_cart a{
    color: black;
    background: transparent;
    text-align: center;
}
.delete img, .edit img, .delete_admin img, .edit_admin img, .view_img img, .add_img img, .cart img, .remove_cart img{
    width: auto;
    height: 14px;
    padding-right:4px

}

.total {
    margin-top: 25px;
    background-color: #d3cebb;
    padding: 10px 10px 5px 10px;
    border: 1px solid #8B887B;
    border-radius: 3px 0px 0px 3px;   
    -moz-border-radius: 3px 0px 0px 3px;   
    -webkit-border-radius: 3px 0px 0px 3px;   
    float: left;
    list-style: none
}
.total a {
    color: #000;
    text-decoration: none;
    font-weight: bold
}
.print {
    margin-top: 25px;
    background-color: #d3cebb;
    padding: 10px 10px 5px 10px;
    border: 1px solid #8B887B;
    border-radius: 3px 0px 0px 3px;   
    -moz-border-radius: 3px 0px 0px 3px;   
    -webkit-border-radius: 3px 0px 0px 3px;   
    float: left;
    list-style: none
}
.print:active{
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.print a {
    color: #000;
    text-decoration: none;
    font-weight: bold
}
.pdf {
    margin-top: 25px;
    background-color: #d3cebb;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #8B887B;
    border-bottom: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
    float: left;
    list-style: none
}
.pdf:active{
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.pdf a {
    color: #000;
    text-decoration: none;
    font-weight: bold
}

/* 
.confirm {
    margin-top: 25px;
    background-color: #ACCCA8;
    padding: 10px 10px 5px 10px;
    border: 1px solid #8B887B; 
    border-radius: 3px 0px 0px 3px;   
    -moz-border-radius: 3px 0px 0px 3px;   
    -webkit-border-radius: 3px 0px 0px 3px;
    float: left;
    list-style: none
}
.confirm:active{
    background-color: #91B68C;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.confirm a{
    color: #0A5506;
    text-decoration: none;
    font-weight: bold

}
*/
.checkout {
    margin-top: 25px;
    background-color: #ACCCA8;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
    border-bottom: 1px solid #8B887B;   
    float: left;
    list-style: none
}
.checkout:active{
    background-color: #91B68C;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.checkout a {
    color: #0A5506;
    text-decoration: none;
    font-weight: bold
}
.empty_cart{
    margin-top: 25px;
    background-color: #DDA9A9;
    padding: 10px 10px 5px 10px;
    border-top: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
    border-bottom: 1px solid #8B887B;
    border-radius: 0px 3px 3px 0px;   
    -moz-border-radius: 0px 3px 3px 0px;   
    -webkit-border-radius: 0px 3px 3px 0px; 
    float: left;
    list-style: none
}
.empty_cart:active{
    background-color: #CC9B9B;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.empty_cart a{
    color: #770202;
    text-decoration: none;
    font-weight: bold

}
.add_cart {
    margin: 25px;
    background-color: #d3cebb;
    padding: 10px;
    border: 1px solid #8B887B;
    border-radius: 3px;   
    -moz-border-radius: 3px;   
    -webkit-border-radius: 3px;
}
.add_cart:active{
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.add_cart a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.total img, .pdf img, .empty_cart img, .add_cart img, .checkout img, .confirm img, .print img{
    width: auto;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: -6px
}
.back {
    display: block;
    clear: left;
    margin: 85px 0px 0px 0px;
    width: 45px;
}
.back img {
    height: auto;
    width: 18px;
    padding: 2px
}
#pager{
    margin-top: 10px
}
#pager a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px
}
#pager .pg_first, .pg_prev, .pg_nr, .pg_next, .pg_last {
    padding-right: 6px;
    float: left
}
#pager .pg_first img, .pg_prev img, .pg_next img, .pg_last img{
    width: auto;
    height: 17px
}


.question {
    margin-bottom: 15px;
    color: #aaa;
    padding: 3px

}
#qty_add {
    width: 25px;
    text-align: center
}
.contact p {
    margin-top: 20px;
    text-decoration: none;
    font-size: 16px
}
#map-canvas{
    margin-top: 50px;
    height: 500px;
    color: black;
}
.privacy {
    overflow: scroll;
    width: 400px;
    height: 75px;
    font-size: 10px;
    margin: 10px 0px 10px 0px;;
    padding: 3px;
    border: 1px solid #aaa;
    background: #fff;
    box-shadow: inset 1px 1px 5px #ccc;
    -moz-box-shadow: inset 1px 1px 5px #ccc;
    -webkit-box-shadow: inset 1px 1px 5px #ccc;
}

.sum_product{
    float:right;
    height: auto;
    width: 250px;
    background: #fff;
    border: 1px solid #ADA895;
    border-right: 0px solid #ADA895;
    border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
    margin-top: 50px;
    box-shadow: 1px 2px 8px #726F62;
    -moz-box-shadow: 1px 2px 8px #726F62;
    -webkit-box-shadow: 1px 2px 8px #726F62;
}
.sum_product .main_li{
    margin-left: 10px;
    margin-bottom: 6px;
    list-style: none;
    font-size:16px
}
.sum_product .under_li{
    margin-left: 30px;
    margin-bottom: 2px;
    list-style: disc;
    font-size:14px
}
.show_adm p {
    font-size: 15px;
    color: black;
    margin-bottom: 13px;
    margin-right: 10px
}
.show_adm h1 {
    font-size: 26px;
    color: #54503F;
    margin-bottom: 10px 

}
.show_adm img {
    height: 350px;
    width: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    border-radius: 3px;   
    -moz-border-radius: 3px;   
    -webkit-border-radius: 3px;
}
.show_product h1{
    font-size: 26px;
    color: #54503F
}
.show_product h2{
    font-size: 15px;
    color: black;
    width: 50%;
    float:left;
    font-weight: 100;
    margin-top: 10px
}
.show_product h3{
    font-size: 30px;
    color: #D40303;
    font-weight: 600
}
.show_product h4{
    font-size: 14px;
    color: #aaa;
    font-weight: 100;
    font-family: Courier;
    margin: 3px;
    margin-bottom: 10px;
    text-align: center
}
.show_product h5 {
    font-size: 20px;
    color: black;
    font-weight: 100;
    margin: 6px 14px 6px 14px;
    float: left;
    text-decoration:line-through
}
.show_product h6{
    font-size: 15px;
    color: #000;
    font-weight: 100;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px
}
.show_product h7{
    font-size: 14px;
    color: #54503F;
    font-weight: 100;
    margin-left: 20px;
}
.show_product .new{
    width: 40px;
    height: auto;
    float: right
}
.show_product .add_cart img{
    width: auto;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: -6px
}
.show_img, .show_prod {
    margin: 20px
}
.show_img img {
    margin:0px;
    border-radius: 3px;   
    -moz-border-radius: 3px;   
    -webkit-border-radius: 3px;
    box-shadow: 2px 3px 8px #726F62
}
.list_products li{
    width: 150px;
    display: inline-block;
    border: 2px solid #914520;
    background: #D3B185;
    height: 200px;
    float: left;
    margin: 8px;
    z-index: 100;
    background-size: auto 200px;
    background-repeat:no-repeat;
    background-position:center; 
    overflow: hidden;
    border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px;
}
.list_products_inner p.new_badge {
    color: white;
    background: rgba(255, 0, 0, 0.75);
    padding-right: 50px;    
    padding-left: 50px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    position: relative;
    right: -62px;
    top:-185px;
    font-weight: 100;
    font-size: 14px;
    box-shadow: 1px 1px 6px #000
}
.list_products_inner p.offer_badge {
    color: white;
    background: rgba(0, 128, 0, 0.76);
    padding-right: 15px;    
    padding-left: 58px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    position: relative;
    right: -43px;
    top:-196px;
    font-weight: 100;
    font-size: 14px;
    box-shadow: 1px 1px 6px #000
}
.list_products_inner{
    margin-top: 158px;
    background:rgba(243, 241, 233, 0.75);
}
.list_products img{
    max-height: 200px;
    z-index:1;
    overflow: hidden
}
.list_products a{
    color: red;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.list_products h1{
    color: #54503F;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    z-index:1000;
    text-align:center;
    padding:2px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:150px; 
}
.list_products h2{
    color: #D40303;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    z-index:1000;
    text-align:center;
}
.new_t{
    width: 10px;
    height: auto;
}
.invio {
    margin-top: 15px;
    background-color: #d3cebb;
    border: 1px solid #8B887B;
    border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px
}
.invio:active {
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.sign-in {
    margin-top: 15px;
    background-color: #d3cebb;
    border: 1px solid #8B887B;
    border-radius: 5px 0px 0px 5px;   
    -moz-border-radius: 5px 0px 0px 5px;   
    -webkit-border-radius: 5px 0px 0px 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    float: left
}
.sign-in:active {
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 1px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.sign-up {
    margin-top: 15px;
    background-color: #d3cebb;
    border-bottom: 1px solid #8B887B;
    border-top: 1px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
    border-radius: 0px 5px 5px 0px;   
    -moz-border-radius: 0px 5px 5px 0px;   
    -webkit-border-radius: 0px 5px 5px 0px;
    color: black;
    font-weight: 100;
    font-size: 13px;
    float: left
}
.sign-up:active {
    background-color: #B4B0A0;
    border-bottom: 0px solid #8B887B;
    border-top: 2px solid #8B887B;
    border-left: 0px solid #8B887B;
    border-right: 1px solid #8B887B;
}
.sign {
    margin-top: 10px;	
    margin-bottom: 10px;
    display: block;
    width: 165px;
    font-size: 14px
}
.sign_text {
    margin-top: 10px;	
    margin-bottom: 10px;
    display: block;
    width: 145px;
    font-size: 13px
}
.invalid{
    color: red
}
.detail_adm {
	font-size: 20px;
	margin-bottom: 20px;
    color: #54503F;
    font-weight: bold
}