#signup .ui-icon-custom {
	background-image: url("../images/icons/system/login/login-256.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#administrator .ui-icon-custom {
	background-image: url("../images/icons/users/administrator/administrator-256.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#user .ui-icon-custom {
	background-image: url("../images/icons/users/group/group-256.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#cart .ui-icon-custom {
	background-image: url("../images/icons/cart/shopping_cart/shopping_cart-256.png");
	background-position: 2px 2px;
	background-size: 90%;
}
#logout .ui-icon-custom {
	background-image: url("../images/icons/system/logout/logout-256.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#addcart .ui-icon-custom {
	background-image: url("../images/icons/cart/buy/buy-256.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#delete .ui-icon-custom {
	background-image: url("../images/icons/delete/delete-512.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#modify .ui-icon-custom {
	background-image: url("../images/icons/edit/edit-512.png");
	background-position: 2px 2px;
	background-size: 90%;
}

#categoriespanel .ui-panel-inner {
	padding: 0px !important;
}
.ui-table-columntoggle-btn {
    display: none !important;
}
